table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td,
  th {
    width: 10%;
    font-size: 14px;
  }

  .day{
    background: #ccffcc; /* green */
  }
  

  .night{
    background: #e6ccb3; /* green */
  }