<h1 mat-dialog-title>{{ title }}</h1>
<div mat-dialog-content [formGroup]="form" fxLayout="column">
  <div fxLayout="column" fxLayoutGap="8px" class="col-auto">
    <mat-form-field>
      <input matInput placeholder="Название" formControlName="name" />
    </mat-form-field>
    <h3>Адрес</h3>
  </div>
  <div formGroupName="address" fxLayout="row" fxLayoutGap="8px" class="col-auto">
    <mat-form-field>
      <input matInput placeholder="Город" formControlName="city" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Район" formControlName="region" />
    </mat-form-field>
  </div>
  <div formGroupName="address" fxLayout="row" fxLayoutGap="8px" class="col-auto">
    <mat-form-field>
      <input matInput placeholder="Улица" formControlName="street" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Номер дома" formControlName="houseNumber" />
    </mat-form-field>
  </div>
  <div formGroupName="timeRange" fxLayout="row" fxLayoutGap="8px" class="col-auto">
    <mat-form-field>
      <input matInput placeholder="Начало дневного тарифа" formControlName="dayStart" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Начало ночного тарифа" formControlName="nightStart" />
    </mat-form-field>
  </div>
</div>
<div style="padding: 20px 0;" mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
  <button mat-raised-button (click)="onNoClick()">Закрыть</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="form.value" cdkFocusInitial>Сохранить</button>
</div>
